<h1>こんにちは、中村です</h1>
<p>特技：弓道、卓球</p>
<p>好きなプロ野球チームは阪神で好きな選手は藤川球児です</p>
<%= image_tag "22.jpg" %>
<p>好きな漫画はスラムダンクとH2です</p>
<%= image_tag "20170820011422-768x576.jpg",class: "img-responsive" %>
<%= image_tag "H2_1_fixw_750_lt.jpg",class: "img-responsive" %>